# Format: //devtools/kokoro/config/proto/build.proto


# Location of the bash script under repository root prefixed by kokoro-codelab-jamxl.
# For non-piper scms, the prefix directory name in this path is determined by
# the scm name specified in the job configuration.
build_file: "kokoro-codelab-jamxl/kokoro/gcp_ubuntu/kokoro_build.sh"
